h1{
    text-align: center;
    margin-bottom: 50px;
}
.product-cart-container{
    
    display: flex;
    height: 300px;
    margin: 10px 0 0 10px;
    .name-and-counter{
        display: flex;
        flex-direction: column;
        gap: 80px;
    .shopping-cart-text{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    .counter-and-price{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        .counter{
            display: flex;
            flex-direction: row;
            gap: 10px;

            .arrows{
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: center;
                .arrow-up{
                    width: 0; 
                    height: 0; 
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 10px solid black;

                }
                .arrow-down{
                    width: 0; 
                    height: 0; 
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top: 10px solid black;

                }
            }
            .number-of-items{
                
                border: 1px solid black;
                text-align: center;
                width: 30px;
                height: 30px;
            }
            
        }
      
    }
}
    .shopping-cart-img{
        img{
            height: 160px;
            width: 160px;
        }
        
    }
}


.checkout-wrapper{
    display: flex;
    justify-content: center;
.checkout{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 80%;
    border-top: 1px solid black;
    .line{
        width: 2px;
        color: black;
        height: 20px;
    }
}
}
