h1 {
  text-align: center;
  margin-bottom: 50px;
}

.product-cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin: 10px 0 0 10px;
}

.product-cart-container .name-and-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.product-cart-container .name-and-counter .shopping-cart-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.product-cart-container .name-and-counter .counter-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-cart-container .name-and-counter .counter-and-price .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.product-cart-container .name-and-counter .counter-and-price .counter .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-cart-container .name-and-counter .counter-and-price .counter .arrows .arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid black;
}

.product-cart-container .name-and-counter .counter-and-price .counter .arrows .arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
}

.product-cart-container .name-and-counter .counter-and-price .counter .number-of-items {
  border: 1px solid black;
  text-align: center;
  width: 30px;
  height: 30px;
}

.product-cart-container .shopping-cart-img img {
  height: 160px;
  width: 160px;
}

.checkout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout-wrapper .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  width: 80%;
  border-top: 1px solid black;
}

.checkout-wrapper .checkout .checkout-btn {
  list-style: none;
}

.checkout-wrapper .checkout .checkout-btn a {
  background-color: #5c717e;
}
/*# sourceMappingURL=shoppingcart-style.css.map */