.shopping-cart-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping-cart-main h1 {
  margin-bottom: 100px;
}

.sad-emoji {
  font-size: 10rem;
  margin-bottom: 60px;
}

.chat-bubble {
  margin-bottom: 30px;
}

.product-cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  width: 100%;
  margin: 10px 0 0 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-cart-container .name-and-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
  margin-left: 30px;
}

.product-cart-container .name-and-counter .shopping-cart-text {
  text-align: left;
  width: 200px;
}

.product-cart-container .name-and-counter .counter-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-cart-container .name-and-counter .counter-and-price .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.product-cart-container .name-and-counter .counter-and-price .counter .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-cart-container .name-and-counter .counter-and-price .counter .arrows .arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 11px solid black;
}

.product-cart-container .name-and-counter .counter-and-price .counter .arrows .arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 11px solid black;
}

.product-cart-container .name-and-counter .counter-and-price .counter .number-of-items {
  border: 1px solid black;
  text-align: center;
  width: 30px;
  height: 30px;
}

.product-cart-container .shopping-cart-img img {
  height: 160px;
  width: 160px;
}

.checkout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.checkout-wrapper .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  width: 80%;
  border-top: 1px solid black;
  gap: 30px;
}

.checkout-wrapper .checkout .total-sum {
  margin-top: 40px;
  font-size: 2rem;
}

.checkout-wrapper .checkout .checkout-btn {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #707070;
  border-radius: 25px;
  height: 50px;
  min-width: 300px;
  font-size: 20px;
  padding: 0px 30px;
  cursor: pointer;
}

.lightgreen {
  color: black;
  background-color: #ECFFDE;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.lightgreen:hover {
  background-color: #daf3c8;
}

.lightgreen:active {
  background-color: #f4ffec;
}

.dimblue {
  color: white;
  background-color: #89A3B3;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.dimblue:hover {
  background-color: #708592;
}

.dimblue:active {
  background-color: #a3becf;
}

@media (min-width: 550px) {
  .product-cart-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .product-cart-container .name-and-counter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-cart-container .name-and-counter .counter-and-price .counter {
    margin-right: 100px;
  }
}
/*# sourceMappingURL=shoppingcart-style.css.map */