// Colors

$login-btn-color: #ecffde;
$register-btn-color: #89a3b3;
$footer-color: #faf4f4;
$border-color-input: #707070;
$border-color-btn: #a7be97;
$register-border-color: #5c717e;
$input-color-theme: #ECFFDE, black, #daf3c8, #f4ffec; //grön knapp
$input-color-theme: #89A3B3, white, #708592,#a3becf; // grå knapp
$input-border-colour: rgb(112, 112, 112);
$input-border-colour: rgb(112, 112, 112);
// Fonts

$big-font-family: 'Bebas Neue', cursive;
$big2-font-family: 'Teko', sans-serif;
$main-font-family: 'Montserrat', sans-serif;
$main2-font-family: 'Roboto', sans-serif;

//sizes
$input-font-size: 20px;
//breakpoints

$breakpointMedium: 550px;

