
@import "../styles/partials/variables";
@import "../styles/partials/mixins";
.hero-div{
    background-image: url(../images/isaac-wendland-7DCZgKyp8vw-unsplash.jpg);
    height: 230px;
    background-size: cover;
    background-position: center center;
}

.category-div-container{
    a{
        @include list-style;
    }
    a:visited { 
        text-decoration: none; 
        color: black; 
       }

    #damsko-category{
        background-image: url(../images/ryan-plomp-jvoZ-Aux9aw-unsplash.jpg);
        @include category-img;
    }

    #herrsko-category{
        background-image: url(../images/irene-kredenets-dwKiHoqqxk8-unsplash.jpg);
        @include category-img;
    }
    #barnsko-category {

        background-image: url(../images/kris-gerhard-0BKZfcamvGg-unsplash.jpg);
        @include category-img;
    }
    
    
}