
@import "../styles/partials/variables";
@import "../styles/partials/mixins";
.hero-div{
    background-image: url(../images/hero-löpande-man.jpg);
    height: 230px;
    background-size: cover;
    background-position: center center;
}

.category-div-container{
    
    a{
        @include list-style;
    }
    a:visited { 
        text-decoration: none; 
        color: black; 
       }

    #damsko-category{
        background-image: url(../images/kategori-damskor.jpg);
        @include category-img;
    }

    #herrsko-category{
        background-image: url(../images/kategori-herrskor.jpg);
        @include category-img;
    }
    #barnsko-category {
        background-image: url(../images/kategori-barnskor.jpg);
        @include category-img;
    }
    
    
}
.aside-img{
    background-image: url(../images/reklam-knyta-sko.jpg);
    @include category-img;
    height: 150px;
    
}

@media (min-width: $breakpointMedium){
    .header{
        height: 120px;
    }
    .hero-div{
        height: 300px;
        
    }
    .log-in{
        display: flex;
        gap: 10px;
        li a{
            @include list-style;
            color: black;
        }
    }
    .navigation-icons{
        display: flex;
        justify-content: flex-end;
        margin: 20px 10px 0 0;
    }
    .hamburger-meny{
        display: none;
    }
    .nav-links{
        display: flex;
        height: 100%;
        align-items: flex-end;
        margin-bottom: 30px;
        
        ul{
            display: flex;
            gap: 30px;
            li a{
                @include list-style;
                color: black;
            }
            
        }
    }
    .category-div-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    .category{
        width: 350px;
    }
}
.rea-aside{
    height: auto;
    display: flex;
    justify-content: center;
    
    .aside-img{
        height: 400px;
        width: 70%;
    }
    
}

}