
.product-article {

      .flex-container {
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            .image-container {
            
                  h2 {
                        text-align: center;
                  }
            }

            .info-container {
                  border: 1px solid black;
            }
      }
}