@import "../../partials/variables";
@import "../../partials/mixins";

main {
  font-family: $main-font-family;
  color: $text-color;
}
// Font-style options
.shopping-cart-main {
  // height: 300px;
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
}

.empty-cart-message-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  h1 {
    margin-bottom: 100px;
  }
}

.sad-emoji {
  font-size: 10rem;
  margin-bottom: 60px;
}
.chat-bubble {
  margin-bottom: 30px;
}

.product-cart-container {
  display: flex;
  min-height: 250px;
  width: 100%;
  margin: 10px 0 0px 10px;
  flex-wrap: wrap;

  .name-and-counter {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-left: 20px;

    .shopping-cart-text {
      text-align: left;
      width: 200px;
    }

    .counter-and-price {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      flex-wrap: wrap;

      .remove-btn {
        font-size: 1.5rem;
      }

      .counter {
        display: flex;
        flex-direction: row;
        gap: 15px;

        .arrows {
          display: flex;
          flex-direction: column;
          gap: 7px;
          justify-content: center;

          .arrow-up {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 11px solid black;
          }
          .arrow-down {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 11px solid black;
          }
        }
        .number-of-items {
          border: 1px solid black;
          text-align: center;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .shopping-cart-img {
    img {
      height: 160px;
      width: 160px;
    }
  }
}

.checkout-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  .checkout {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 80%;
    border-top: 1px solid black;
    gap: 30px;

    .total-sum {
      margin-top: 40px;
      font-size: 2rem;
    }

    .checkout-btn {
      font-family: Arial, Helvetica, sans-serif;
      border: 1px solid $input-border-colour;
      border-radius: 25px;
      height: 50px;
      min-width: 300px;
      font-size: $input-font-size;
      padding: 0px 30px;
      cursor: pointer;
    }
  }
}

.lightgreen {
  @include input-color-theme(#ecffde, black, #daf3c8, #f4ffec);
}

.dimblue {
  @include input-color-theme(#89a3b3, white, #708592, #a3becf);
}

@media (min-width: $breakpointMedium) {
  .product-cart-container {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .name-and-counter {
      flex-direction: row;
      .counter-and-price {
        .counter {
          margin-right: 100px;
        }
      }
    }
  }
}
