h1 {
  color: #5a5454;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 20px; }

h2 {
  color: #5a5454;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0; }

.order-main .order-description-grp .order-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 550px) {
    .order-main .order-description-grp .order-form-wrapper {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start; } }
  .order-main .order-description-grp .order-form-wrapper .order-form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .order-main .order-description-grp .order-form-wrapper .order-form ul li .input-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .order-main .order-description-grp .order-form-wrapper .order-form ul li .input-wrapper label {
        margin-left: 20px;
        align-self: flex-start; }
      .order-main .order-description-grp .order-form-wrapper .order-form ul li .input-wrapper .order-textarea {
        display: block;
        border: 1px solid #707070;
        border-radius: 15px;
        height: 100px;
        max-width: 300px;
        font-size: 30px;
        padding: 0 10px; }
  .order-main .order-description-grp .order-form-wrapper .summary-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .order-main .order-description-grp .order-form-wrapper .summary-wrapper .product-list-descriptions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start; }
      @media (min-width: 550px) {
        .order-main .order-description-grp .order-form-wrapper .summary-wrapper .product-list-descriptions {
          align-self: flex-start; } }
      .order-main .order-description-grp .order-form-wrapper .summary-wrapper .product-list-descriptions .article-wrapper {
        margin: 2px; }
        .order-main .order-description-grp .order-form-wrapper .summary-wrapper .product-list-descriptions .article-wrapper .article {
          color: #5a5454;
          margin-top: 20px;
          font-family: "Montserrat", sans-serif;
          max-width: 400px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          @media (min-width: 550px) {
            .order-main .order-description-grp .order-form-wrapper .summary-wrapper .product-list-descriptions .article-wrapper .article {
              flex-direction: row; } }
          .order-main .order-description-grp .order-form-wrapper .summary-wrapper .product-list-descriptions .article-wrapper .article .article-img {
            width: 160px;
            height: 160px; }
          .order-main .order-description-grp .order-form-wrapper .summary-wrapper .product-list-descriptions .article-wrapper .article .article-info-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            max-width: 200px; }
            .order-main .order-description-grp .order-form-wrapper .summary-wrapper .product-list-descriptions .article-wrapper .article .article-info-wrapper h3 {
              margin: 5px 0;
              align-self: center; }
.order-main .price-button-row {
  display: flex;
  justify-content: center; }
  .order-main .price-button-row .price-and-btn-wrapper {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 150px;
    width: 80%;
    margin-top: 20px;
    border-top: 1px solid black;
    gap: 30px;
    justify-content: space-evenly; }
    @media (min-width: 550px) {
      .order-main .price-button-row .price-and-btn-wrapper {
        flex-direction: row;
        justify-content: space-around; } }
    .order-main .price-button-row .price-and-btn-wrapper .total-price-display {
      font-family: "Montserrat", sans-serif; }

/*# sourceMappingURL=order-style.css.map */
