@import "partials/variables";
@import "partials/mixins";

h1 {
  color: $text-color;
  font-family: $main-font-family;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  color: $text-color;
  font-family: $main-font-family;
  margin: 10px 0;
}

.order-main {
  .order-description-grp {
    .order-form-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $breakpointMedium) {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
      }
  
      .order-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
          li {
            .input-wrapper {
              display: flex;
              flex-direction: column;
              align-items: center;
  
              label {
                margin-left: 20px;
                align-self: flex-start;
              }
              .order-textarea {
                display: block;
                border: 1px solid #707070;
                border-radius: 15px;
                height: 100px;
                max-width: 300px;
                font-size: 30px;
                padding: 0 10px;
              }
            }
          }
        }
      }
      .summary-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .product-list-descriptions {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: flex-start;
  
          @media (min-width: $breakpointMedium) {
            align-self: flex-start;
          }
          .article-wrapper {
            margin: 2px;
            .article {
              color: $text-color;
              margin-top: 20px;
              font-family: $main-font-family;
              max-width: 400px;
              display: flex;
              flex-direction: column;
              align-items: center;
              @media (min-width: $breakpointMedium) {
                flex-direction: row;
              }
              .article-img {
                width: 160px;
                height: 160px;
              }
              .article-info-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                max-width: 200px;
                h3 {
                  margin: 5px 0;
                  align-self: center;
                }
                p {
                }
              }
            }
          }
        }
      }
    }

  }
  .price-button-row {
    display: flex;
    justify-content: center;
    .price-and-btn-wrapper {
      display: flex;
      flex-direction: column;
      display: flex;
      align-items: center;
      height: 150px;
      width: 80%;
      margin-top: 20px;
      border-top: 1px solid black;
      gap: 30px;

      @media (min-width: $breakpointMedium) {
        flex-direction: row;
        justify-content: space-around;
      }
      justify-content: space-evenly;
      .total-price-display {
        font-family: $main-font-family;
      }
      .order-button {

      }
    }
  }
}
