// Colors

$login-btn-color: #ecffde;
$register-btn-color: #89a3b3;
$footer-color: #faf4f4;
$border-color-input: #707070;
$border-color-btn: #a7be97;
$register-border-color: #5c717e;
$text-color: #5a5454;

// Fonts

$big-font-family: "Bebas Neue", cursive;
$big2-font-family: "Teko", sans-serif;
$main-font-family: "Montserrat", sans-serif;
$main2-font-family: "Roboto", sans-serif;

//breakpoints

$breakpointMedium: 550px;
