//använd mixins och variabler istället
h1 {
  text-align: center;
  text-transform: uppercase;
}
.product-list-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  .product-article {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
    background: #faf4f4;
    h2 {
      text-align: center;
    }
    .article-content-wrapper {
      display: flex;
      .article-right-wrapper {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .product-img {
      width: 150px;
      height: 150px;
    }
  }
}
