//använd mixins och variabler istället
@import "partials/variables";
@import "partials/mixins";

h1 {
  text-align: center;
  text-transform: uppercase;
}
.search-products-form {
  display: flex;
  input {
    font-family: Arial, FontAwesome;
    margin: 10px 0;
    display: block;
    border: 1px solid #707070;
    border-radius: 15px;
    height: 50px;
    max-width: 300px;
    font-size: 30px;
    padding: 0 10px;
  }
}
.product-list-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-list-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .product-article {
    max-width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    // flex: 1;
    margin: 10px;
    background: #faf4f4;
    h2 {
      text-align: center;
      margin-bottom: 5px;
    }
    .article-content-wrapper {
      display: flex;
      .article-right-wrapper {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .add-to-cart {
          background: $login-btn-color;
        }
      }
    }

    .product-img {
      width: 150px;
      height: 150px;
    }
  }
}
