//använd mixins och variabler istället
@import "partials/variables";
@import "partials/mixins";

h1 {
  font-family: $big2-font-family;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
.search-products-form {
  display: flex;
  margin-top: 25px;
  input {
    font-family: $main-font-family, FontAwesome;
    margin: 10px 0;
    display: block;
    border: 1px solid #707070;
    border-radius: 15px;
    height: 50px;
    max-width: 300px;
    font-size: 30px;
    padding: 0 10px;
  }
}
.product-list-main {
  @include flex(center, center, column);
}
.product-list-wrapper {
  @include flex(center, center, initial);
  flex-wrap: wrap;
  margin: 50px 0;

  .product-article {
    @include flex(center, center, column);
    font-family: $main-font-family;
    max-width: 350px;
    padding: 15px;
    margin: 10px;
    background: #faf4f4;
    .article-content-wrapper {
      @include flex(center, center, column);
      @media (min-width: $breakpointMedium) {
        flex-direction: row;
      }
      .article-left-wrapper {
        @include flex(initial, center, column);
        h2 {
          text-align: center;
          margin-bottom: 5px;
        }
        .img-link {
          @include flex(center, initial, row);
          display: flex;
          flex-direction: column;
          text-decoration: none;
        }
        .click-para {
          font-weight: bold;
          font-family: $main-font-family;
          text-align: center;
          color: $text-color;
          display: none;
          transition: display 0.2s;
        }
        .product-img {
          width: 80%;
          transition: width 0.2s;
          &:hover {
            width: 100%;
            + .click-para {
              display: initial;
            }
          }
          @media ($breakpointMedium) {
            width: 150px;
            height: 150px;
          }
        }
      }
      .article-right-wrapper {
        margin: 0 auto;
        .description-paragraph {
          text-align: center;
        }
        @include flex(center, center, column);
        .add-to-cart {
          @include input-color-theme($login-btn-color, black, #daf3c8, #f4ffec);
          height: 50px;
          border-radius: 30px;
          min-width: 300px;
          font-size: 15px;
          border: 1px solid $border-color-btn;
          cursor: pointer;
          @media (min-width: $breakpointMedium) {
            min-width: 150px;
            height: 35px;
          }
        }
      }
    }
  }
}
