@import "partials/variables";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
.header {
  @include flex(space-between, center);
  border: 2px solid black;
  padding: 10px;
}
.index-main {
  height: 50vh;
}
.footer {
  @include flex(space-between, center, column);
  border: 2px solid black;
  padding: 10px;
  margin-top: auto;
}
.social-media-links {
  @include flex(center, center, row);
}
.footer-links {
  @include flex(space-between, center);
}
.footer-link-wrapper {
  @include flex(space-between, center, column);
  margin: 50px;
}
ul {
  @include list-style;
}
