@import "partials/variables";
@import "partials/mixins";

// Font-style options
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  display: flex;
  flex-direction: column;
  height: auto;
  
}

.hidden {
  display: none;
}
.header {
  @include flex(space-between, center);
  height: auto;
  padding: 10px;
  .navigation-icons{
    display: flex;
    font-size: 40px;
    gap: 20px;
  }

}


.navigation-icons {
  position: fixed;
  z-index: 100;
  top: 2rem;
  right: 1rem;
  .cart {
    margin-right: 1rem;
    font-size: 35px;
  }
}
.hamburger {
  font-size: 45px;
  border: none;
  background: white;

  .close-icon {
    display: none;
  }
  
  .showMenu {
    transform: translateY(0);
  }
}

.menu-hamburger {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 21rem;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 50%;
  color: white;
  background: white;
  list-style: none;
  min-height: 250px;
  padding-top: 3rem;
  .menu-item { 
  display: block;
  color: black;
  font-size: 1.6rem;
  text-decoration:none;
  margin-bottom: 1rem;
  }
}

/* .index-main {
  height: 50vh;
} */

.footer {
  @include flex(space-between, center, column);
  padding: 10px;
  height: 300px;
  background-color: #FAF4F4;
  
}
.social-media-icons {
  @include flex(center, center, row);
  font-size: 30px;
  gap: 15px;
  margin-top: 20px;
}
.footer-links {
  @include flex(space-between, center);
  width: 80%

}
.footer-link-wrapper {
  @include flex(space-between, center, column);
  line-height: 2em;
  
}
ul {
  @include list-style;
}

@media (min-width: $breakpointMedium){
  .header{
      height: 120px;
  }
  .hero-div{
      height: 300px;
      
  }
  .log-in{
      display: flex;
      gap: 10px;
      li a{
          @include list-style;
          color: black;
      }
  }
  .navigation-icons{
      display: flex;
      justify-content: flex-end;
      margin: 20px 10px 0 0;
  }
  .hamburger-meny{
      display: none;
  }
  .nav-links{
      display: flex;
      height: 100%;
      align-items: flex-end;
      margin-bottom: 30px;
      
      ul{
          display: flex;
          gap: 30px;
          li a{
              @include list-style;
              color: black;
          }
          
      }
  }
}
